/* - Green:hsl(75, 94%,57%)
- White:hsl(0, 0%, 100%)

- Grey 700:hsl(0, 0%, 20%)
- Grey 800:hsl(0, 0%, 20%)
- Grey 900:hsl(0, 0%, 20%) */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



body {
    font-family: unset;
    background-color: black;
    color: hsl(0, 0%, 100%);
    border: 2px solid transparent;
}

a {
    color: hsl(0, 0%, 100%);
}

section {
    background-color: black;
    width: 330px;
    border-radius: 12px;
    border: 1px solid red;
    padding: 18px;
    text-align: center;

}

section img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    /* border radius:cima-esquerda cima-direita baixo-direita baixo-esquerda; */
    object-fit: cover;
}

section h1 {
    font-size: 28px;
    margin: 16px 0px 4px 0px;
    font-weight: 500;
}

section h2 {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 600;
    color: yellowgreen;
}

section p {
    font-size: 14px;
    color: whitesmoke;
}

li {
    margin: 16px 0;
}

li a {
    background-color:#333333;
    padding: 12px 0;
    width: 100%;
    display: block;
    border-radius: 10px;
    font-weight: 600;
}

li a:hover {
    color: white;
    background-color: yellowgreen;

}