body {
    background-color: #ffc8dd;
    color: black;
    font-family: 'Times New Roman';
    font-size: 16px;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

header {
    background-color: #f7e1d7;
}

h1 {
    color: black;
    font-size: 80px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

#section-a {
    background-color: #bde0fe;
}

img {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    margin: 20px;
    object-fit: cover;

}



#section-b {
    background-color: #cddafd;
}

#section-c {
    background-color: #b7efc5;
}

footer {
    background-color: #fdffb6;
}

a:hover {
    color: #ff5876;
}